@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("img/background.png");
}

.containerOff {
  display: none;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e9f8;
  text-shadow: 0px 6px 4px #42445a;
  letter-spacing: 2px;
}

header img {
  display: flex;
  position: absolute;
  top: 2rem;
  right: 3em;
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0px 0px 38px -9px #42445a;
  -moz-box-shadow: 0px 0px 38px -9px #42445a;
  box-shadow: 0px 0px 38px -9px #42445a;
  z-index: 1;
}

.selectionBox {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 46em;
  height: 35em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 24px 1px #42445a;
  -moz-box-shadow: 0px 0px 24px 1px #42445a;
  box-shadow: 0px 0px 24px 1px #42445a;
}

.selectionBox div {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2.8rem;
}

.quizImages {
  display: flex;
  margin: 2rem;
  width: auto;
  height: 4rem;
  cursor: pointer;
  z-index: 1;
  transition: all .2s ease;
}

.quizImages:hover {
  transform: translate(2px, 4px);
}

.quizImages:active {
  transform: translate(4px, 8px);
}

.quizBcg {
  position: relative;
  top: -10.4rem;
  left: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  width: auto;
  height: 4rem;
  cursor: pointer;
  z-index: -1;
}

.selectionBox span {
  font-size: 1.2rem;
  margin-top: -7rem;
  opacity: 0.6;
}

.JSSelectedOn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("img/backgroundJS.png");
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.arrow {
  display: flex;
  position: relative;
  top: 0.4rem;
  left: -20rem;
  width: 1.2rem;
  z-index: 1;
  cursor: pointer;
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-shadow: 0px 6px 4px #42445a;
  letter-spacing: 2px;
}

h2 {
  margin-top: 1.6rem;
  font-size: 1.8rem;
  text-align: center;
  width: 90%;
}

/*JavaScript Quiz*/
.JSBoxStartOn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 46em;
  height: 35em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

/*przycisk start*/
.JSBoxStartOn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: #f7e018;
  border-radius: 2rem;
  border: none;
  font-family: 'Fredoka One', cursive;
  font-size: 1.4rem;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all .2s ease;
  margin-top: 6rem;
  z-index: 1;
}

.JSBoxStartOn button:hover {
  transform: translateY(8px);
}

.JSBoxStartOn button:active {
  transform: translateY(16px);
}

/*tło startu(element efektu wciskania przycisku)*/
.JSBoxStartOn .buttonBcg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: #c5b218;
  border-radius: 2rem;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 4px;
  margin-top: -3.2rem;
}

.JSBoxQuizOff {
  display: none;
}

.JSBoxStartOff {
  display: none;
}

/*pojemnik na quizy*/
.JSBoxQuizOn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 46em;
  height: 35em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

/*licznik*/
.JSBoxQuizOn span {
  display: flex;
  position: relative;
  top: -1.6rem;
  left: 19.6rem;
  font-size: 1.6rem;
}

/*pozycjonowanie odpowiedzi*/
.JSBoxQuizOn .answersPosition {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
}

/*odpowiedzi*/
.JSBoxQuizOn .answer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 18rem;
  height: 4rem;
  margin: 1.4rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #f7e018;
  z-index: 1;
  transition: all .2s ease;
}

.JSBoxQuizOn .answer:hover {
  transform: translateY(8px);
}

.JSBoxQuizOn .answer:active {
  transform: translateY(16px);
}

/*tła odpowiedzi(element efektu naciskania guzika)*/
.JSBoxQuizOn .answersPosition .bcgForAnswers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -41.625rem;
  top: 0.8rem;
  width: 18rem;
  height: 4rem;
  margin: 1.4rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #c5b218;
}

/*pojemnik wyświetlający się po ukończeniu quizu*/
.endQuizOff {
  display: none;
}

.endQuizOn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 1rem;
  padding: 2rem;
  width: 46em;
  height: 35em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

/*strzałka do cofania quizu*/
.endQuizOn .arrow {
  display: flex;
  position: relative;
  top: -6rem;
  left: -20rem;
  z-index: 1;
}

/*informacja o ilości zdobytych punktów*/
.endQuizOn p {
  font-size: 2rem;
  letter-spacing: 2px;
}

/*przycisk do zakończenia quizu*/
.endQuizOn button {
  background-color: #f7e018;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  border-radius: 2rem;
  border: none;
  font-family: 'Fredoka One', cursive;
  font-size: 1.4rem;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all .2s ease;
  margin-top: 6rem;
  z-index: 1;
}

.endQuizOn button:hover {
  transform: translateY(8px);
}

.endQuizOn button:active {
  transform: translateY(16px);
}

.endQuizOn .endBcg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: #c5b218;
  border-radius: 2rem;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 4px;
  margin-top: -3.2rem;
}

/*HTML Quiz*/
.HTMLSelectedOn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("img/backgroundHTML.png");
}

.HTMLBoxStartOn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 46em;
  height: 35em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

.HTMLBoxStartOn button {
  /*start*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: #e44d26;
  border-radius: 2rem;
  border: none;
  font-family: 'Fredoka One', cursive;
  font-size: 1.4rem;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all .2s ease;
  margin-top: 6rem;
  z-index: 1;
}

.HTMLBoxStartOn button:hover {
  transform: translateY(8px);
}

.HTMLBoxStartOn button:active {
  transform: translateY(16px);
}

.HTMLBoxStartOn .buttonBcg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: #B63D1E;
  border-radius: 2rem;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 4px;
  margin-top: -3.2rem;
}

.HTMLBoxQuizOff {
  display: none;
}

.HTMLBoxStartOff {
  display: none;
}

.HTMLBoxQuizOn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 46em;
  height: 35em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

.HTMLBoxQuizOn span {
  display: flex;
  position: relative;
  top: -0.6rem;
  left: 19.6rem;
  font-size: 1.6rem;
}

.HTMLBoxQuizOn .answersPosition {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
}

.HTMLBoxQuizOn .answer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 18rem;
  height: 4rem;
  margin: 1.4rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #e44d26;
  z-index: 1;
  transition: all .2s ease;
}

.HTMLBoxQuizOn .answer:hover {
  transform: translateY(8px);
}

.HTMLBoxQuizOn .answer:active {
  transform: translateY(16px);
}

.HTMLBoxQuizOn .answersPosition .bcgForAnswers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -41.625rem;
  top: 0.8rem;
  width: 18rem;
  height: 4rem;
  margin: 1.4rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #B63D1E;
}

.HTMLSelectedOn .endQuizOn button {
  background-color: #e44d26;
}

.HTMLSelectedOn .endQuizOn .endBcg {
  background-color: #B63D1E;
}

/*CSS Quiz*/
.CSSSelectedOn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("img/backgroundCSS.png");
}

.CSSBoxStartOn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 46em;
  height: 35em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

.CSSBoxStartOn button {
  /*start*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: #264de4;
  border-radius: 2rem;
  border: none;
  font-family: 'Fredoka One', cursive;
  font-size: 1.4rem;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all .2s ease;
  margin-top: 6rem;
  z-index: 1;
}

.CSSBoxStartOn button:hover {
  transform: translateY(8px);
}

.CSSBoxStartOn button:active {
  transform: translateY(16px);
}

.CSSBoxStartOn .buttonBcg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: #1e3db6;
  border-radius: 2rem;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 4px;
  margin-top: -3.2rem;
}

.CSSBoxQuizOff {
  display: none;
}

.CSSBoxStartOff {
  display: none;
}

.CSSBoxQuizOn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 46em;
  height: 35em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

.CSSBoxQuizOn span {
  display: flex;
  position: relative;
  top: -0.6rem;
  left: 19.6rem;
  font-size: 1.6rem;
}

.CSSBoxQuizOn .answersPosition {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
}

.CSSBoxQuizOn .answer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 18rem;
  height: 4rem;
  margin: 1.4rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #264de4;
  z-index: 1;
  transition: all .2s ease;
}

.CSSBoxQuizOn .answer:hover {
  transform: translateY(8px);
}

.CSSBoxQuizOn .answer:active {
  transform: translateY(16px);
}

.CSSBoxQuizOn .answersPosition .bcgForAnswers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -41.625rem;
  top: 0.8rem;
  width: 18rem;
  height: 4rem;
  margin: 1.4rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #1e3db6;
}

.CSSSelectedOn .endQuizOn button {
  background-color: #264de4;
}

.CSSSelectedOn .endQuizOn .endBcg {
  background-color: #1e3db6;
}

/*React Quiz*/
.ReactSelectedOn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("img/backgroundReact.png");
}

.ReactBoxStartOn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 46em;
  height: 35em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

.ReactBoxStartOn button {
  /*start*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: #00d8ff;
  border-radius: 2rem;
  border: none;
  font-family: 'Fredoka One', cursive;
  font-size: 1.4rem;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all .2s ease;
  margin-top: 6rem;
  z-index: 1;
}

.ReactBoxStartOn button:hover {
  transform: translateY(8px);
}

.ReactBoxStartOn button:active {
  transform: translateY(16px);
}

.ReactBoxStartOn .buttonBcg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: #00ACCC;
  border-radius: 2rem;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 4px;
  margin-top: -3.2rem;
}

.ReactBoxQuizOff {
  display: none;
}

.ReactBoxStartOff {
  display: none;
}

.ReactBoxQuizOn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 46em;
  height: 35em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

.ReactBoxQuizOn span {
  display: flex;
  position: relative;
  top: -0.6rem;
  left: 19.6rem;
  font-size: 1.6rem;
}

.ReactBoxQuizOn .answersPosition {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
}

.ReactBoxQuizOn .answer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 18rem;
  height: 4rem;
  margin: 1.4rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #00d8ff;
  z-index: 1;
  transition: all .2s ease;
}

.ReactBoxQuizOn .answer:hover {
  transform: translateY(8px);
}

.ReactBoxQuizOn .answer:active {
  transform: translateY(16px);
}

.ReactBoxQuizOn .answersPosition .bcgForAnswers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -41.625rem;
  top: 0.8rem;
  width: 18rem;
  height: 4rem;
  margin: 1.4rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #00ACCC;
}

.ReactSelectedOn .endQuizOn button {
  background-color: #00d8ff;
}

.ReactSelectedOn .endQuizOn .endBcg {
  background-color: #00ACCC;
}

/*okno logowania*/
.loginOn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("img/background.png");
}

.loginBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 20em;
  height: 20em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

.loginBox .arrow {
  position: relative;
  top: -0.4rem;
  left: -8rem;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
}

form input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width: 12rem;
  height: 2.6rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  border: 3px solid #1a5bab;
  background-color: #BACDE5;
  font-family: 'Fredoka One', cursive;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 12rem;
  height: 2.6rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1.2rem;
  letter-spacing: 0.2rem;
  background-color: #1a5bab;
  color: #e5e9f8;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-family: 'Fredoka One', cursive;
}

form button:hover {
  background-color: #144888;
}

form p {
  margin-top: -0.2rem;
  font-size: 0.8rem;
  color: #757575;
}

form span {
  margin-top: -0.4rem;
  font-size: 0.9rem;
  color: #1a5bab;
  cursor: pointer;
}

form span:hover {
  color: #123F77;
}

/*okno rejestracja*/
.registerOn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("img/background.png");
}

.registerBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  width: 20em;
  height: 22em;
  border-radius: 2rem;
  background-color: #e5e9f8;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 29px -5px #42445a;
  -moz-box-shadow: 0px 0px 29px -5px #42445a;
  box-shadow: 0px 0px 29px -5px #42445a;
}

.registerBox .arrow {
  position: relative;
  top: -0.4rem;
  left: -8rem;
}

.registerBox p {
  text-align: justify;
  margin-top: -0.4rem;
}

/*alerty logowania*/
.noDisplay {
  display: none;
}

/*powodzenie przy logowaniu lub rejestracji*/
.success {
  position: absolute;
  width: 20rem;
  height: 6rem;
  margin-top: 1.6rem;
  border-radius: 4px;
  background-color: #cfead6;
  padding-left: 1rem;
}

.success h3 {
  color: #2c5134;
  margin-top: 1rem;
}

.success p {
  color: #48664f;
}

/*niepowodzenie przy logowaniu lub rejestracji*/
.failure {
  position: absolute;
  width: 20rem;
  height: 6rem;
  margin-top: 1.6rem;
  border-radius: 4px;
  background-color: #f6d2d5;
  padding-left: 1rem;
}

.failure h3 {
  color: #4d2024;
  margin-top: 1rem;
}

.failure p {
  color: #7e555a;
}

/*nawigacja dla zalogowanych*/
.navForLoged {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 4.8rem;
  right: 3rem;
  width: 12rem;
  height: 24rem;
  border-radius: 1.4rem;
  background-color: #5E8CC4;
  z-index: 2;
  transition: all .2s ease-in-out;
}

.navForLoged img {
  position: relative;
  top: -0.5rem;
  right: 8.4rem;
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  box-shadow: none;
  cursor: default;
}

.navForLoged p {
  position: absolute;
  top: 0.2rem;
  left: 4.2rem;
  font-size: 1.2rem;
  color: #000000;
}

.navForLoged div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  color: #e5e9f8;
  border-top: 1px solid #e5e9f8;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-size: 1rem;
}

.navForLoged div:last-child {
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}

.navForLoged div:hover {
  color: #000000;
  background-color: #8CADD5;
}

/*tło elementów po ich wyborze*/
.bcgForNavElements {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 2;
}

/*zmiana avatara*/
.saveAvatarButton {
  background-color: #1a5bab !important;
  margin-top: 2.6rem;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1rem;
  left: 7.6rem;
  width: 5rem;
  height: 5rem;
}

/*statystyki*/
.photo {
  display: flex;
  position: relative;
  left: -13rem;
  top: 2rem;
  width: 250px;
  height: 250px;
  border-radius: 10rem !important;
  cursor: default;
}

.bcgForNavElements span {
  display: flex;
  position: relative;
  top: -6rem;
  left: 2rem;
  font-size: 2rem;
  color: #e5e9f8;
}

.bcgForNavElements div {
  color: #e5e9f8;
}

.quizzesPlayed {
  display: flex;
  position: relative;
  top: -5rem;
  left: 2.2rem;
}

.quizzesPlayed p {
  position: relative;
  top: 1rem;
  left: -7.3rem;
}

.correctAnswers {
  display: flex;
  position: relative;
  top: -8.8rem;
  left: 18rem;
}

.correctAnswers p {
  position: relative;
  top: 1rem;
  left: -7.9rem;
}

.uncorrectAnswers {
  display: flex;
  position: relative;
  top: -3.4rem;
  left: 2.2rem;
}

.uncorrectAnswers p {
  position: relative;
  top: 1rem;
  left: -9.1rem;
}

.ratio {
  display: flex;
  position: relative;
  top: -7.2rem;
  left: 18rem;
}

.ratio p {
  position: relative;
  top: 1rem;
  left: -2em;
}

/*formularz zmiany hasła*/
.changePassword .position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 36rem;
}

.changePassword input {
  width: 13rem;
  border: 3px solid #1a5bab;
  background-color: #BACDE5;
}

.changePassword button {
  width: 18rem;
  background-color: #1a5bab;
}

.changePassword button:hover {
  background-color: #144888;
}

/*formularz usuwania konta*/
.bcgForNavElements p {
  position: relative;
  font-size: 1.2rem;
  top: 0rem;
  color: #e5e9f8;
}

.deleteAccount form {
  position: relative;
  top: 2rem;
}

.bcgForNavElements input {
  background-color: #DB9798;
  border: 3px solid #b83032;
}

.bcgForNavElements input::placeholder {
  color: #e5e9f8;
}

.bcgForNavElements button {
  background-color: #b83032;
}

.bcgForNavElements button:hover {
  background-color: #932628;
}

.bcgForNavElements img {
  box-shadow: none;
  border-radius: 0;
}

.bcgForNavElements .failure p {
  color: #7e555a;
  position: relative;
  top: 1rem;
  font-size: 1rem;
}
